@font-face {
  font-family: 'Ultra';
  font-style: normal;
  font-weight: normal;
  src: local('Ultra'), url('http://themes.googleusercontent.com/static/fonts/ultra/v4/Uwyb9czCiEZ7UnGAgIR6JA.woff') format('woff');
}
